/* Christian Hart, Jamie Kouttu, Alex Diaz */

/* Include style guide in this file!! */

/* ~~~~~~~~~~ Fonts ~~~~~~~~~~ */
@font-face {
    font-family: "Jeopardy";
    src: url("./assets/fonts/gyparody_hv-webfont.woff") format("woff")
}
@font-face {
    font-family: "Swiss";
    src: url("./assets/fonts/swiss_911_compressed_regular-webfont.woff") format("woff")
}
@font-face {
    font-family: "Korinna";
    src: url("./assets/fonts/optikorinna-agency-webfont.woff") format("woff")
}

/* ~~~~~~~~~~ Global ~~~~~~~~~~*/
* {
    font-family: Korinna, sans-serif;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 20px;
}
body {
    background-image: url("./assets/default-background.jpg");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;;
}
h1 {
    font-family: Jeopardy, sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 8px black;
    margin: 1rem;
    transition: transform .5s;
}
h1:hover {
    transform: skewX(-15deg);
}
a {
    font-family: Swiss, sans-serif;
    text-shadow: 2px 2px 8px black;
    color: white;
}
a:hover {
    color: #E89F44;
}
ul {
    list-style-type: none;
}
li {
    padding: 5px;
}
button {
    font-family: Swiss, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px black;
    display: inline-block;
    width: 5.5em;
    height: 3em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #E89F44;
    background-image: url("./assets/blue-background.jpg");
    background-size: cover;
    transition: transform .5s, color .5s;
    /*box-shadow: 2px 2px 1px #888888;*/
}
button:hover {
    color: #bb6d0e;
    transform: scale(1.1);
}
.instructions {
    font-family: Swiss, sans-serif;
    text-shadow: 2px 2px 8px black;
    margin: 1rem;
}


/*  ~~~~~~~~~~ Front Page ~~~~~~~~~~ */
#frontpage {
    background-image: url("./assets/jeopardy-frontpage.jpg");
    background-position: bottom;
}
#tagline {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    transition:transform .5s;
}
#tagline:hover {
    /*transform: rotate(-20deg);*/
    transform: scale(2);
}


/* ~~~~~~~~~~ Game Board ~~~~~~~~~~*/
.gameboard-heading {
    margin: 0 31% 0 31%;
    transition: transform .5s;
}
.gameboard-heading:hover {
    transform: skewX(-15deg);
}
.block-text{
    font-family: Korinna, sans-serif;
    background-image: url("./assets/blue-background.jpg");
    background-size: cover;
    border: 2px solid #E89F44;
    padding: .5em;
    margin: 0 auto;
    width: fit-content;
}
.user-heading {
    font-family: Swiss, sans-serif;
    background-image: url("./assets/blue-background.jpg");
    display: inline-block;
    padding: .5em;
    border: 2px solid #E89F44;
    float: left;
    position: fixed;
    margin: 1rem;
    transition: transform .5s;
}
.user-heading h2 {
    font-family: Swiss, sans-serif;
}
.user-heading:hover {
    transform: scale(1.2);
}
.gameboard {
    display: flex;
}
.jepBoard {
    background-image: url("./assets/jeopardy-board-background.jpg");
    width: auto;
    background-position: center;
    /*border-spacing: 1em;*/
}
.jepTable{
    width: 730px;
    margin-top: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}
.jepButton {
    clear: right;
    float: right;
}
button.category {
    font-family: Swiss, sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 5.5em;
    height: 3em;
    padding-top: .1em;
    padding-bottom: .1em;
    color: white;
    background-image: url("./assets/blue-background.jpg");
    /*box-shadow: 2px 2px 1px #888888;*/
    clear: right;
    float: right;
    transition: none;
}
button.category:hover {
    transform: none;
    color: white;
}
.jepButton button:active{
    background-color: #9c8f04;
}
.wrong{
    background-image: url("./assets/red-background.jpg");
    clear: right;
    float: right;
}
.correct{
    background-image: url("./assets/green-background.jpg");
    clear: right;
    float: right;
}


/* ~~~~~~~~~~ Question Card ~~~~~~~~~~*/
.jepQuestion {
    font-family: Korinna, sans-serif;
    margin: 20% auto;
    width: fit-content;
    background-image: url("./assets/blue-background.jpg");
    background-size: cover;
    /*display: inline-block;*/
    background-position: center;
    padding: .2em;
    border: 2px solid #E89F44;
    color: white;
}


/* ~~~~~~~~~~ User Forms ~~~~~~~~~~*/
label.userprompt {
    float:left;
}
input.usertext {
    color: black;
    /*float: right;*/
}


/* ~~~~~~~~~~ Footer ~~~~~~~~~~*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto 1rem auto;
}
.footer ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer li {
    flex-flow: row wrap;
    padding: 0 30px;
    transition: transform .2s;
}
.footer li:hover {
    transform: scale(1.5);
}